In [2]:
import site
import time
site.addsitedir("yaml.reader.ReaderError: unacceptable character #x0082yaml.reader.ReaderError: unacceptable character #x0082")
from pygurucore.tables import GuruTable

from pygurujobs.job import property_price_index

import datetime as dt
import json
import time
import sys
import pandas as pd
from collections import OrderedDict

import numpy as np
import sqlalchemy as sa

from pygurucore.tables import GuruTable
from pygurucore import geo_utils
from pygurucore import price_index
#from pygurucore import price_index_rental
from pygurujobs import cli_utils
from pygurujobs.jobbase import JobBase
from pygurujobs.job import job

import pdb

In [3]:
t_type = ["sale"]#,"rent"]
p_type = ["condo"]#,"hdb"]
t = GuruTable(table_name='dim_property')
district = sa.select([t.c.district_code,t.c.district_description]).where(sa.and_(t.c.district_code == 'D05')).execute().to_dataframe()
district_list = district["district_code"].unique()
bedrooms = [1,2,3,4,5,6]
g = GuruTable(table_name='property_price_index')
g.truncate()

Table('property_price_index', MetaData(bind=Engine(mysql+mysqlconnector://datauser:***@data-team-db-sg.guruestate.com:3306/data)), Column('id', INTEGER(display_width=11), table=<property_price_index>, primary_key=True, nullable=False), Column('transaction_type', VARCHAR(length=5), table=<property_price_index>), Column('property_type', VARCHAR(length=10), table=<property_price_index>), Column('district_code', VARCHAR(charset='utf8', collation='utf8_unicode_ci', length=10), table=<property_price_index>, nullable=False), Column('bedrooms_type', TEXT(), table=<property_price_index>), Column('price_index', TEXT(charset='utf8', collation='utf8_unicode_ci'), table=<property_price_index>), Column('volume_trend', TEXT(charset='utf8', collation='utf8_unicode_ci'), table=<property_price_index>), Column('time_start', BIGINT(display_width=20), table=<property_price_index>), Column('time_end', BIGINT(display_width=20), table=<property_price_index>), Column('num_trans', INTEGER(display_width=11), table=<property_price_index>), Column('num_trans_pair', INTEGER(display_width=11), table=<property_price_index>), Column('modified_date', DATE(), table=<property_price_index>), Column('avg_psf', TEXT(), table=<property_price_index>), Column('district_description', TEXT(), table=<property_price_index>), Column('district', INTEGER(display_width=11), table=<property_price_index>), schema=None)

In [4]:
t_dmap = GuruTable(table_name='dim_district_map')
district_map = sa.select([t_dmap.c.district_code,t_dmap.c.district_description,t_dmap.c.id_region,t_dmap.c.region_name]).execute().to_dataframe()
district_map.head(2)

  district_code       district_description  id_region    region_name
0           D01  Boat Quay / Raffles Place          2  Core Central
1           D02  Chinatown / Tanjong Pagar          2  Core Central

In [5]:
start = dt.datetime.strptime('2005-01-01',"%Y-%m-%d").date()
normalization_date=dt.datetime.strptime('2013-06-01',"%Y-%m-%d").date()

In [6]:
	def compute_ppi(transactions,p_type,t_type,start,normalization_date):
    	#p_type is flag indicating HDB or Condo
		end= dt.datetime.today().date()
		if t_type=="sale":
			if p_type=="condo":
				comparer = price_index.CondoSgTransactionComparer()
			elif p_type=="hdb":
				comparer = price_index.HDBSgTransactionComparer()
			fast_finder = price_index.FastPairFinder(comparer)
			pi_factory_fast = price_index.PairPriceIndexFactory(
				fast_finder,
				start=start,
				end=end,
				normalization_date=normalization_date,
				points_by_year=12,
				psf_index='psf',
				date_index='contract_date',
				)
		elif t_type=="rent":
			if p_type=="condo":
				comparer = price_index_rental.CondoSgTransactionComparer()
			elif p_type=="hdb":
				comparer = price_index_rental.HDBSgTransactionComparer()
			fast_finder = price_index_rental.FastPairFinder(comparer)
			pi_factory_fast = price_index_rental.PairPriceIndexFactory(
				fast_finder,
				start=start,
				end=end,
				normalization_date=normalization_date,
				points_by_year=12,
				psf_index='psf',
				date_index='contract_date',
				)
		pi_4 = pi_factory_fast.compute_price_index(transactions)
		return(pi_4)

In [7]:
	def get_transactions(t_type,p_type,dist,start_date):
		end_date = dt.datetime.now()
		transactions = pd.DataFrame()
		if t_type=="sale":
			if p_type=="condo":
				t = GuruTable(table_name="fact_sales_ura")
				transactions = sa.select([t.c.area_sqft,
					t.c.psf,
					t.c.contract_date,
					t.c.postcode,
					t.c.building_number,
					t.c.floor,
					t.c.stack,
					t.c.bedrooms,
					]).where(sa.and_(t.c.units == 1,
						t.c.area_sqft > 0,
						t.c.psf > 0,
						t.c.sale_type == 'Resale',
						t.c.contract_date > start_date,
						t.c.contract_date < end_date,
						t.c.enbloc == 0,
						t.c.postcode != None,
						t.c.district_code == dist,
						t.c.property_type_code.in_(['CONDO', 'EXCON', 'APT']),
						)).execute().to_dataframe()
				transactions['area_log'] = np.log(transactions['area_sqft'])
				transactions['price'] = transactions['psf']*transactions['area_sqft']
			elif p_type=="hdb":
				t = GuruTable(table_name="fact_sales_hdb")
				transactions = sa.select([t.c.area_sqft,
					t.c.psf,
					t.c.contract_date,
					t.c.postcode,
					t.c.building_number,
					t.c.floor,
					t.c.bedrooms,
					]).where(sa.and_(
						t.c.area_sqft > 0,
						t.c.psf > 0,
						t.c.contract_date > start_date,
						t.c.contract_date < end_date,
						t.c.postcode != None,
						t.c.district_code == dist,
						)).execute().to_dataframe()
				transactions['area_log'] = np.log(transactions['area_sqft'])
				transactions['price'] = transactions['psf']*transactions['area_sqft']
		elif t_type=="rent":
			if p_type=="condo":
				t = GuruTable(table_name="fact_rentals_ura")
				transactions = sa.select([t.c.id,
					t.c.property_type,
					t.c.bedrooms,
					t.c.area_sqft_min,
					t.c.area_sqft_max,
					t.c.contract_year,
					t.c.contract_month,
					t.c.contract_date,
					t.c.district_code,
					t.c.postcode,
					t.c.monthly_rent]).where(sa.and_(t.c.district_code==dist,
						t.c.postcode != None,
						t.c.bedrooms!=None,
						t.c.contract_date>=start_date,
						)).execute().to_dataframe()
				transactions["area_sqft"] = ((transactions["area_sqft_max"] + transactions["area_sqft_min"])/float(2))
				transactions["price"] = transactions["monthly_rent"]
				transactions["psf"] = (transactions["monthly_rent"]/transactions["area_sqft"])
				transactions['area_log'] = np.log(transactions['area_sqft'])
				transactions = transactions.dropna()
			elif p_type=="hdb":
				t = GuruTable(table_name="fact_rentals_hdb")
				transactions = sa.select([t.c.id,
					t.c.property_type,
					t.c.bedrooms,
					t.c.area_sqft,
					t.c.contract_year,
					t.c.contract_month,
					t.c.contract_date,
					t.c.district_code,
					t.c.postcode,
					t.c.monthly_rent]).where(sa.and_(t.c.district_code==dist,
						t.c.postcode != None,
						t.c.bedrooms!=None,
						t.c.contract_date>=start_date,)).execute().to_dataframe()
				transactions["price"] = transactions["monthly_rent"]
				transactions["psf"] = (transactions["monthly_rent"]/transactions["area_sqft"])
				transactions['area_log'] = np.log(transactions['area_sqft'])
				transactions = transactions.dropna()
		return transactions

In [8]:
	def insert_ppi(index,start,t_type,p_type,district=None,bedrooms=None,d_flag=0,norm_date=None):
		dest_table=GuruTable(table_name='property_price_index')
		end= dt.datetime.today().date()
		#pdb.set_trace()
		spi = serialize_price_index(index,start,end)
		v_trend = volume_trend(index.transactions)
		mul_factor = multiplication_factor(index,norm_date)
		t_dmap = GuruTable(table_name='dim_district_map')
		district_map = sa.select([t_dmap.c.district_code,t_dmap.c.district_description,t_dmap.c.id_region,t_dmap.c.region_name]).execute().to_dataframe()
		district_description = district_map[district_map["district_code"]==district]["district_description"].values[0]
		dest_table.insert().values(
			transaction_type=t_type,
			property_type=p_type,
			district_code=district,
			bedrooms=bedrooms,
			price_index=spi,
			volume_trend=str(v_trend),
			time_start=datestr2unix(start),
			time_end=datestr2unix(end),
			num_trans=len(index.transactions),
			num_trans_pair=len(index.pairs),
			modified_date=dt.datetime.now(),
			district_description=district_description,
			avg_psf = mul_factor,
			district=d_flag
			).execute()
        
def multiplication_factor(index,norm_date):
    time = pd.Series(index.transactions["contract_date"].tolist())
    time_diff = abs(time - norm_date)
    min_days = min(time_diff)
    y = time_diff[time_diff==min_days]
    idx = 0
    for a,b in y.items():
        #print(a) -- prints the index
        #print(b) -- prints the value
        idx = a
        break
    return (index.transactions.iloc[idx]["psf"]/100)
    

	def datestr2unix(date):
		date_str = str(date)
		date_str = date_str.split(" ")[0]
		time_stamp = dt.datetime.strptime(str(date),"%Y-%m-%d").timetuple()
		return (time.mktime(time_stamp)*1000)

	def serialize_price_index(pi,start,end):
		index_list = []
		for k, v in pi.index.items():
			index_list.append([datestr2unix(k), v])
		return json.dumps(index_list)

	def volume_trend(transactions):
		def fun_year(x):
			return x.year
		def fun_month(x):
			return x.month
		def fun_day(x):
			return x.day
		def fun_list(row):
			return [row["date"],row["index"]]
		#pdb.set_trace()
		transactions["year"]=transactions["contract_date"].apply(fun_year)
		transactions["month"]=transactions["contract_date"].apply(fun_month)
		transactions["day"]=1
		transactions.rename(columns={transactions.columns[0]:'index'}, inplace=True)
		transactions_grp = transactions.groupby(["year","month","day"])["index"].count()
		trimmed_transactions = pd.DataFrame(transactions_grp)
		trimmed_transactions = trimmed_transactions.reset_index()
		trimmed_transactions["date"] = trimmed_transactions["year"].apply(str) + '-' + trimmed_transactions["month"].apply(str) + '-' + trimmed_transactions["day"].apply(str)
		#trimmed_transactions["date"] = trimmed_transactions["date"].apply(datestr2unix)
		trimmed_transactions["value"] = trimmed_transactions.apply(fun_list,axis=1)
		temp = trimmed_transactions["value"]
		pdb.set_trace()
		return json.dumps(temp.tolist())

In [ ]:
t = "sale"
p = "condo"
start = dt.datetime.strptime('2005-01-01',"%Y-%m-%d").date()
for p in p_type:
    for d in ['D05']:#district_list:
        transactions = get_transactions(t_type=t,p_type=p,dist=d,start_date=start)
        if len(transactions)<25:
            print("Not enough transactions : "+t+" - "+p+" - "+str(d)+' - '+str(len(transactions)))
            continue
        index = compute_ppi(transactions,p_type=p,t_type=t,start=start,normalization_date=normalization_date)
        insert_ppi(index=index,start=start,t_type=t,p_type=p,district=d,bedrooms=json.dumps([1,2,3,4]),norm_date=normalization_date,d_flag=1)
        break

> <ipython-input-8-a0884df83fa3>(76)volume_trend()
-> return json.dumps(temp.tolist())
(Pdb) temp
0      [2005-1-1, 17]
1      [2005-2-1, 19]
2      [2005-3-1, 14]
3      [2005-4-1, 18]
4      [2005-5-1, 13]
5       [2005-6-1, 9]
6      [2005-7-1, 23]
7      [2005-8-1, 39]
8      [2005-9-1, 35]
9     [2005-10-1, 25]
10    [2005-11-1, 21]
11    [2005-12-1, 20]
12     [2006-1-1, 15]
13     [2006-2-1, 20]
14     [2006-3-1, 35]
...
111     [2014-6-1, 13]
112     [2014-7-1, 20]
113     [2014-8-1, 24]
114     [2014-9-1, 24]
115    [2014-10-1, 31]
116    [2014-11-1, 20]
117    [2014-12-1, 23]
118     [2015-1-1, 26]
119     [2015-2-1, 44]
120     [2015-3-1, 46]
121     [2015-4-1, 41]
122     [2015-5-1, 51]
123     [2015-6-1, 23]
124     [2015-7-1, 20]
125     [2015-8-1, 14]
Name: value, Length: 126, dtype: object
(Pdb) transactions
      index   psf contract_date postcode building_number  floor stack  \
0      1130   288    2005-01-31   128802              20      1    06
1       969   434    2005-01-26   138685              36      5    10
2       990   454    2005-01-25   118571             200      3    19
3       969   465    2005-01-24   138687              30     12    01
4      1206   398    2005-01-20   128042              12      5    01
5      1894   248    2005-01-20   128797              10     12    04
6      1076   279    2005-01-20   118172              60      4    05
7      1496   401    2005-01-19   118699             360      3    09
8      1292   325    2005-01-18   128037              54      1    09
9      1378   414    2005-01-15   129198             50D      1    24
10     1216   273    2005-01-15   118172              60      1    04
11     1206   473    2005-01-14   138680              10      4    06
12     1442   340    2005-01-14   128036              52      7    08
13     1744   381    2005-01-12   117688               4      4    04
14     1948   475    2005-01-12   118572             202      4    18
15     1152   436    2005-01-10   128805              26      9    02
16     1270   252    2005-01-04   119002               5      8   105
17     1894   274    2005-02-28   128797              10     10    02
18     1270   311    2005-02-25   118998               1     11   159
19     1238   347    2005-02-21   119744               1      1    02
20     1862   397    2005-02-21   118571             200      1    06
21     3595   392    2005-02-17   119520             38B      1    06
22     2519   228    2005-02-16   118171              58      1    02
23     1173   418    2005-02-15   127992              75      5    09
24     3541   381    2005-02-14   119522             38D      2    16
25     5522   561    2005-02-14   118457              39      2    01
26     1475   454    2005-02-08   118699             360      4    10
27     1744   447    2005-02-07   129196             50B      2    12
28     1593   439    2005-02-04   119749               7      3    01
29     1249   328    2005-02-04   128793               2      9    02
...     ...   ...           ...      ...             ...    ...   ...
4982   1216  1219    2015-07-21   127158               1     14    02
4983   1249   817    2015-07-16   128794               4      4    03
4984    969  1115    2015-07-15   138680              10      8    08
4985   1399  1193    2015-07-14   127021              63      4    23
4986   1894   697    2015-07-13   128797              10     14    01
4987   1905  1233    2015-07-13   118572             202      3    16
4988   1302   906    2015-07-13   127715             39D     10    13
4989    969   917    2015-07-13   118173              62      4    10
4990   1894   702    2015-07-10   128799              14      4    04
4991    893  1080    2015-07-10   118166              42      3    14
4992    850   880    2015-07-08   128038              56      4    08
4993   1302  1175    2015-07-07   127725             31A     11    30
4994   1249   881    2015-07-06   118722             390      2    02
4995    904  1128    2015-07-06   127725             31A      3    29
4996   1496  1025    2015-07-06   127715             39D     10    11
4997   1313  1019    2015-07-03   118892              87      4    06
4998   1292   929    2015-08-13   117621             481      2    02
4999   1216  1344    2015-08-12   138638              33     21    04
5000   1130   929    2015-08-11   128803              22      4    08
5001   1238   848    2015-08-06   129195             50A      4    08
5002   1238   969    2015-08-06   118166              42      4    16
5003    818  1057    2015-08-06   128803              22      4    10
5004   3089  1101    2015-08-06   138642               7     14    02
5005   1475   949    2015-08-05   118699             360      2    04
5006    936  1036    2015-08-05   138684              38      8    04
5007   1722   952    2015-08-05   118719             385      1    15
5008   1249   797    2015-08-05   128795               6      5    01
5009   1259  1215    2015-08-03   126793              79     28    01
5010   1163  1024    2015-08-03   128047              25      8    13
5011   1163  1075    2015-08-03   128046              23     12    08

      bedrooms  area_log    price  year  month  day
0            2  7.029973   325440  2005      1    1
1            2  6.876265   420546  2005      1    1
2            2  6.897705   449460  2005      1    1
3            2  6.876265   450585  2005      1    1
4            3  7.095064   479988  2005      1    1
5            3  7.546446   469712  2005      1    1
6            2  6.981006   300204  2005      1    1
7            3  7.310550   599896  2005      1    1
8            3  7.163947   419900  2005      1    1
9            3  7.228388   570492  2005      1    1
10           2  7.103322   331968  2005      1    1
11           3  7.095064   570438  2005      1    1
12           3  7.273786   490280  2005      1    1
13           3  7.463937   664464  2005      1    1
14           3  7.574558   925300  2005      1    1
15           3  7.049255   502272  2005      1    1
16           3  7.146772   320040  2005      1    1
17           3  7.546446   518956  2005      2    1
18           3  7.146772   394970  2005      2    1
19           3  7.121252   429586  2005      2    1
20           4  7.529406   739214  2005      2    1
21           4  8.187299  1409240  2005      2    1
22           4  7.831617   574332  2005      2    1
23           3  7.067320   490314  2005      2    1
24           4  8.172164  1349121  2005      2    1
25           4  8.616495  3097842  2005      2    1
26           3  7.296413   669650  2005      2    1
27           4  7.463937   779568  2005      2    1
28           3  7.373374   699327  2005      2    1
29           3  7.130099   409672  2005      2    1
...        ...       ...      ...   ...    ...  ...
4982         3  7.103322  1482304  2015      7    1
4983         3  7.130099  1020433  2015      7    1
4984         2  6.876265  1080435  2015      7    1
4985         4  7.243513  1669007  2015      7    1
4986         3  7.546446  1320118  2015      7    1
4987         3  7.552237  2348865  2015      7    1
4988         3  7.171657  1179612  2015      7    1
4989         2  6.876265   888573  2015      7    1
4990         3  7.546446  1329588  2015      7    1
4991         2  6.794587   964440  2015      7    1
4992         2  6.745236   748000  2015      7    1
4993         3  7.171657  1529850  2015      7    1
4994         3  7.130099  1100369  2015      7    1
4995         2  6.806829  1019712  2015      7    1
4996         4  7.310550  1533400  2015      7    1
4997         3  7.180070  1337947  2015      7    1
4998         3  7.163947  1200268  2015      8    1
4999         2  7.103322  1634304  2015      8    1
5000         3  7.029973  1049770  2015      8    1
5001         3  7.121252  1049824  2015      8    1
5002         3  7.121252  1199622  2015      8    1
5003         2  6.706862   864626  2015      8    1
5004         5  8.035603  3400989  2015      8    1
5005         3  7.296413  1399775  2015      8    1
5006         2  6.841615   969696  2015      8    1
5007         3  7.451242  1639344  2015      8    1
5008         3  7.130099   995453  2015      8    1
5009         3  7.138073  1529685  2015      8    1
5010         3  7.058758  1190912  2015      8    1
5011         3  7.058758  1250225  2015      8    1

[5012 rows x 13 columns]
(Pdb) temp
0      [2005-1-1, 17]
1      [2005-2-1, 19]
2      [2005-3-1, 14]
3      [2005-4-1, 18]
4      [2005-5-1, 13]
5       [2005-6-1, 9]
6      [2005-7-1, 23]
7      [2005-8-1, 39]
8      [2005-9-1, 35]
9     [2005-10-1, 25]
10    [2005-11-1, 21]
11    [2005-12-1, 20]
12     [2006-1-1, 15]
13     [2006-2-1, 20]
14     [2006-3-1, 35]
...
111     [2014-6-1, 13]
112     [2014-7-1, 20]
113     [2014-8-1, 24]
114     [2014-9-1, 24]
115    [2014-10-1, 31]
116    [2014-11-1, 20]
117    [2014-12-1, 23]
118     [2015-1-1, 26]
119     [2015-2-1, 44]
120     [2015-3-1, 46]
121     [2015-4-1, 41]
122     [2015-5-1, 51]
123     [2015-6-1, 23]
124     [2015-7-1, 20]
125     [2015-8-1, 14]
Name: value, Length: 126, dtype: object
(Pdb) temp.apply(datestr2unix)
*** ValueError: time data "['2005-1-1', 17]" does not match format '%Y-%m-%d'
(Pdb) trimmed_transactions["date"].apply(datestr2unix)
0     1.104509e+12
1     1.107187e+12
2     1.109606e+12
3     1.112285e+12
4     1.114877e+12
5     1.117555e+12
6     1.120147e+12
7     1.122826e+12
8     1.125504e+12
9     1.128096e+12
10    1.130774e+12
11    1.133366e+12
12    1.136045e+12
13    1.138723e+12
14    1.141142e+12
...
111    1.401552e+12
112    1.404144e+12
113    1.406822e+12
114    1.409501e+12
115    1.412093e+12
116    1.414771e+12
117    1.417363e+12
118    1.420042e+12
119    1.422720e+12
120    1.425139e+12
121    1.427818e+12
122    1.430410e+12
123    1.433088e+12
124    1.435680e+12
125    1.438358e+12
Name: date, Length: 126, dtype: float64
(Pdb) datestr2unix(2015-8-1)
*** ValueError: time data '2006' does not match format '%Y-%m-%d'
(Pdb) datestr2unix('2015-8-1')
1438358400000.0
(Pdb) datestr2unix('2015-7-1')
1435680000000.0