In [2]:
import psycopg2

In [8]:
conn = psycopg2.connect(
    host="pg-redshift-cluster.cgnifbeifavu.ap-southeast-1.redshift.amazonaws.com", 
    user="rsreadonly", 
    port=5439, 
    password="Pguru123", 
    dbname="dev")

In [9]:
cur = conn.cursor()

In [13]:
cur.execute("select * from information_schema.tables")

In [14]:
with open("tables.txt","w") as f:
    f.write(str(cur.fetchall()))

In [8]:
cur.fetchall()

[]

<H4>Postgres query to describe a table</H4>

In [11]:
cur.execute("select column_name, data_type, character_maximum_length from INFORMATION_SCHEMA.COLUMNS where table_name = 'olap_fact_sales_ura'")

In [12]:
cur.fetchall()

[('tenure_type_id', 'smallint', None),
 ('area_type_id', 'smallint', None),
 ('sale_type_id', 'smallint', None),
 ('buyer_type_id', 'smallint', None),
 ('floor', 'smallint', None),
 ('completed_year', 'smallint', None),
 ('unit_size_id', 'smallint', None),
 ('property_sub_type_id', 'smallint', None),
 ('property_type_id', 'smallint', None),
 ('property_name_id', 'smallint', None),
 ('planning_area_region_id', 'smallint', None),
 ('planning_area_id', 'smallint', None),
 ('district_region_id', 'smallint', None),
 ('district_id', 'smallint', None),
 ('street_name_id', 'smallint', None),
 ('psf', 'integer', None),
 ('psm', 'integer', None),
 ('transacted_price', 'integer', None),
 ('units', 'integer', None),
 ('storey_id', 'integer', None),
 ('month_id', 'integer', None),
 ('quarter_id', 'integer', None),
 ('year', 'integer', None),
 ('id', 'integer', None),
 ('tenure_type_txt', 'character varying', 20),
 ('area_type_txt', 'character varying', 20),
 ('sale_type_txt', 'character varying', 20),
 ('buyer_type_txt', 'character varying', 20),
 ('storey_txt', 'character varying', 20),
 ('unit_size_sqm_txt', 'character varying', 15),
 ('unit_size_sqft_txt', 'character varying', 15),
 ('property_sub_type_txt', 'character varying', 45),
 ('property_type_txt', 'character varying', 45),
 ('property_name_txt', 'character varying', 50),
 ('planning_area_region_txt', 'character varying', 20),
 ('planning_area_txt', 'character varying', 30),
 ('district_region_txt', 'character varying', 20),
 ('district_txt', 'character varying', 3),
 ('street_name_txt', 'character varying', 45),
 ('month_txt', 'character varying', 10),
 ('quarter_txt', 'character varying', 6),
 ('date', 'date', None)]

In [35]:
cur.execute("select * from olap_fact_sales_ura order by date desc limit 10")

In [27]:
cur.execute("select column_name from INFORMATION_SCHEMA.COLUMNS where table_name = 'event_listing_views'")

In [28]:
cols = cur.fetchall()

In [29]:
cols

[('log_batch_id',),
 ('log_id',),
 ('is_crawler',),
 ('ref_rank',),
 ('developer_id',),
 ('user_id',),
 ('property_id',),
 ('listing_id',),
 ('agent_id',),
 ('ua_os',),
 ('ua_name',),
 ('ua_type',),
 ('ref_section',),
 ('ref_type',),
 ('referral',),
 ('section_div',),
 ('seeker_type',),
 ('session_id',),
 ('device_id',),
 ('phone_id',),
 ('source_partner',),
 ('source_product',),
 ('source_device',),
 ('app_version',),
 ('section',),
 ('user_country',),
 ('listing_type',),
 ('region',),
 ('source',),
 ('event_type',),
 ('log_ip',),
 ('log_useragent',),
 ('timestamp_client',),
 ('log_time',)]

In [35]:
cur.execute('select user_id,property_id,listing_id,agent_id,user_country,listing_type,region,source_device,log_ip,log_time from "clickstream_log"."event_listing_views" limit 10')
cur.fetchall()

[(None,
  None,
  1944386,
  5434,
  '',
  'agent',
  'my',
  '',
  '175.136.55.56',
  datetime.datetime(2014, 8, 21, 12, 32, 9)),
 (None,
  None,
  7068236,
  18083,
  '',
  'agent',
  'my',
  '',
  '113.89.105.226',
  datetime.datetime(2014, 8, 21, 12, 34, 58)),
 (None,
  None,
  1300193,
  1000055,
  '',
  'agent',
  'th',
  '',
  '49.230.128.15',
  datetime.datetime(2014, 8, 21, 12, 35, 22)),
 (None,
  None,
  7389428,
  305141,
  '',
  'agent',
  'my',
  '',
  '175.144.154.233',
  datetime.datetime(2014, 8, 21, 12, 34, 50)),
 (None,
  None,
  7389428,
  305141,
  '',
  'agent',
  'my',
  '',
  '175.144.154.233',
  datetime.datetime(2014, 8, 21, 12, 35, 20)),
 (306122,
  None,
  6974477,
  83594,
  '',
  'agent',
  'my',
  '',
  '115.134.172.84',
  datetime.datetime(2014, 8, 21, 12, 39, 45)),
 (None,
  None,
  45172,
  None,
  '',
  'dev',
  'my',
  '',
  '175.142.159.123',
  datetime.datetime(2014, 8, 21, 12, 40, 14)),
 (None,
  None,
  925799,
  1053497,
  '',
  'agent',
  'th',
  '',
  '1.46.102.76',
  datetime.datetime(2014, 8, 21, 12, 40, 49)),
 (None,
  None,
  892166,
  1245167,
  '',
  'agent',
  'th',
  '',
  '27.55.165.249',
  datetime.datetime(2014, 8, 21, 12, 38, 28)),
 (None,
  None,
  91701,
  34248,
  '',
  'agent',
  'th',
  '',
  '1.47.225.95',
  datetime.datetime(2014, 8, 21, 12, 36, 54))]

In [36]:
cur.close()
conn.close()

In [37]:
conn = psycopg2.connect(
    host="pg-redshift-cluster.cgnifbeifavu.ap-southeast-1.redshift.amazonaws.com", 
    user="rsreadonly", 
    port=5439, 
    password="Pguru123", 
    dbname="dev")
cur = conn.cursor()

In [38]:
cur.execute("Select version();")
cur.fetchall()

[('PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.981 ',)]