In [22]:
import sqlalchemy as sa
import pandas as pd
%matplotlib inline

In [10]:
conn = sa.create_engine("mysql://datauser:data123#@data-team-db-sg.guruestate.com/data")

In [15]:
stmt = "select extract(year from contract_date) Year,extract(month from contract_date) Month,district_code,property_type,bedrooms,count(*) Transaction_count from fact_sales_ura group by year,month,district_code,property_type,bedrooms"
df = pd.read_sql(stmt,conn)

In [16]:
len(df)

58737

In [17]:
df = df.dropna()
len(df)

44555

In [20]:
df.describe()

               Year         Month      bedrooms  Transaction_count
count  44555.000000  44555.000000  44555.000000       44555.000000
mean    2005.687353      6.507508      3.249938           8.524834
std        5.797465      3.376544      1.343091          18.339666
min     1995.000000      1.000000      1.000000           1.000000
25%     2001.000000      4.000000      2.000000           1.000000
50%     2006.000000      6.000000      3.000000           3.000000
75%     2011.000000      9.000000      4.000000           8.000000
max     2015.000000     12.000000     10.000000         503.000000

In [24]:
df_2012 = df[df["Year"]==2012]

In [32]:
df_2012["Year"].unique()
ts = pd.date_range("1/1/2012",periods=12,freq="M")
ts.values

array(['2012-01-31T08:00:00.000000000+0800',
       '2012-02-29T08:00:00.000000000+0800',
       '2012-03-31T08:00:00.000000000+0800',
       '2012-04-30T08:00:00.000000000+0800',
       '2012-05-31T08:00:00.000000000+0800',
       '2012-06-30T08:00:00.000000000+0800',
       '2012-07-31T08:00:00.000000000+0800',
       '2012-08-31T08:00:00.000000000+0800',
       '2012-09-30T08:00:00.000000000+0800',
       '2012-10-31T08:00:00.000000000+0800',
       '2012-11-30T08:00:00.000000000+0800',
       '2012-12-31T08:00:00.000000000+0800'], dtype='datetime64[ns]')