In [6]:
import site
import time
site.addsitedir("/var/www/data-prototyping/")
from pygurucore.tables import GuruTable

from pygurujobs.job import property_price_index

import datetime as dt
import json
import time
import sys
import pandas as pd
from collections import OrderedDict

import numpy as np
import sqlalchemy as sa

from pygurucore.tables import GuruTable
from pygurucore import geo_utils
from pygurucore import price_index
#from pygurucore import price_index_rental
from pygurujobs import cli_utils
from pygurujobs.jobbase import JobBase
from pygurujobs.job import job

import pdb

In [7]:
t_dmap = GuruTable(table_name='dim_district_map')
district_map = sa.select([t_dmap.c.district_code,t_dmap.c.district_description,t_dmap.c.id_region,t_dmap.c.region_name]).execute().to_dataframe()
district_map.head(2)

  district_code       district_description  id_region    region_name
0           D01  Boat Quay / Raffles Place          2  Core Central
1           D02  Chinatown / Tanjong Pagar          2  Core Central

In [8]:
start = dt.datetime.strptime('2005-01-01',"%Y-%m-%d").date()
normalization_date=dt.datetime.strptime('2013-06-01',"%Y-%m-%d").date()

In [9]:
	def compute_ppi(transactions,p_type,t_type,start,normalization_date):
    	#p_type is flag indicating HDB or Condo
		end= dt.datetime.today().date()
		if t_type=="sales":
			if p_type=="condo":
				comparer = price_index.CondoSgTransactionComparer()
			elif p_type=="hdb":
				comparer = price_index.HDBSgTransactionComparer()
			fast_finder = price_index.FastPairFinder(comparer)
			pi_factory_fast = price_index.PairPriceIndexFactory(
				fast_finder,
				start=start,
				end=end,
				normalization_date=normalization_date,
				points_by_year=12,
				psf_index='psf',
				date_index='contract_date',
				)
		elif t_type=="rent":
			if p_type=="condo":
				comparer = price_index_rental.CondoSgTransactionComparer()
			elif p_type=="hdb":
				comparer = price_index_rental.HDBSgTransactionComparer()
			fast_finder = price_index_rental.FastPairFinder(comparer)
			pi_factory_fast = price_index_rental.PairPriceIndexFactory(
				fast_finder,
				start=start,
				end=end,
				normalization_date=normalization_date,
				points_by_year=12,
				psf_index='psf',
				date_index='contract_date',
				)
		pi_4 = pi_factory_fast.compute_price_index(transactions)
		return(pi_4)

In [10]:
	def get_transactions(t_type,p_type,dist,start_date):

		end_date = dt.datetime.now()

		transactions = pd.DataFrame()

		if t_type=="sales":
			if p_type=="condo":
				t = GuruTable(table_name="fact_sales_ura")
				transactions = sa.select([t.c.area_sqft,
					t.c.psf,
					t.c.contract_date,
					t.c.postcode,
					t.c.building_number,
					t.c.floor,
					t.c.stack,
					t.c.bedrooms,
					]).where(sa.and_(t.c.units == 1,
						t.c.area_sqft > 0,
						t.c.psf > 0,
						t.c.sale_type == 'Resale',
						t.c.contract_date > start_date,
						t.c.contract_date < end_date,
						t.c.enbloc == 0,
						t.c.postcode != None,
						t.c.district_code == dist,
						t.c.property_type_code.in_(['CONDO', 'EXCON', 'APT']),
						)).execute().to_dataframe()
				transactions['area_log'] = np.log(transactions['area_sqft'])
				transactions['price'] = transactions['psf']*transactions['area_sqft']
			elif p_type=="hdb":
				t = GuruTable(table_name="fact_sales_hdb")
				transactions = sa.select([t.c.area_sqft,
					t.c.psf,
					t.c.contract_date,
					t.c.postcode,
					t.c.building_number,
					t.c.floor,
					t.c.bedrooms,
					t.c.flat_type_name,
					]).where(sa.and_(
						t.c.area_sqft > 0,
						t.c.psf > 0,
						t.c.contract_date > start_date,
						t.c.contract_date < end_date,
						t.c.postcode != None,
						t.c.district_code == dist,
						)).execute().to_dataframe()
				transactions['area_log'] = np.log(transactions['area_sqft'])
				transactions['price'] = transactions['psf']*transactions['area_sqft']
		elif t_type=="rent":
			if p_type=="condo":
				t = GuruTable(table_name="fact_rentals_ura")
				transactions = sa.select([t.c.id,
					t.c.property_type,
					t.c.bedrooms,
					t.c.area_sqft_min,
					t.c.area_sqft_max,
					t.c.contract_year,
					t.c.contract_month,
					t.c.contract_date,
					t.c.district_code,
					t.c.postcode,
					t.c.monthly_rent]).where(sa.and_(t.c.district_code==dist,
						t.c.postcode != None,
						t.c.bedrooms!=None,
						t.c.contract_date>=start_date,
						)).execute().to_dataframe()
				transactions["area_sqft"] = ((transactions["area_sqft_max"] + transactions["area_sqft_min"])/float(2))
				transactions["price"] = transactions["monthly_rent"]
				transactions["psf"] = (transactions["monthly_rent"]/transactions["area_sqft"])
				transactions['area_log'] = np.log(transactions['area_sqft'])
				transactions = transactions.dropna()
			elif p_type=="hdb":
				t = GuruTable(table_name="fact_rentals_hdb")
				transactions = sa.select([t.c.id,
					t.c.property_type,
					t.c.bedrooms,
					t.c.area_sqft,
					t.c.contract_year,
					t.c.contract_month,
					t.c.contract_date,
					t.c.district_code,
					t.c.postcode,
					t.c.flat_type_name,
					t.c.monthly_rent]).where(sa.and_(t.c.district_code==dist,
						t.c.postcode != None,
						t.c.bedrooms!=None,
						t.c.contract_date>=start_date,)).execute().to_dataframe()
				transactions["price"] = transactions["monthly_rent"]
				transactions["psf"] = (transactions["monthly_rent"]/transactions["area_sqft"])
				transactions['area_log'] = np.log(transactions['area_sqft'])
				transactions = transactions.dropna()
		return transactions

In [11]:
	def insert_ppi(index,start,t_type,p_type,district=None,bedrooms_type=None,d_flag=0,norm_date=None):
		dest_table=GuruTable(table_name='property_price_index')
		end= dt.datetime.today().date()
		spi = serialize_price_index(index,start,end)
		v_trend = volume_trend(index.transactions)
		mul_factor = multiplication_factor(index,norm_date)
		t_dmap = GuruTable(table_name='dim_district_map')
		district_map = sa.select([t_dmap.c.district_code,t_dmap.c.district_description,t_dmap.c.id_region,t_dmap.c.region_name]).execute().to_dataframe()
		district_description = district_map[district_map["district_code"]==district]["district_description"].values[0]		
		dest_table.insert().values(
			transaction_type=t_type,
			property_type=p_type,
			district_code=district,
			bedrooms_type=bedrooms_type,
			price_index=spi,
			volume_trend=str(v_trend),
			time_start=datestr2unix(start),
			time_end=datestr2unix(end),
			num_trans=len(index.transactions),
			num_trans_pair=len(index.pairs),
			modified_date=dt.datetime.now(),
			district_description=district_description,
			avg_psf = mul_factor,
			district=d_flag
			).execute()
        
def multiplication_factor(index,norm_date):
    time = pd.Series(index.transactions["contract_date"].tolist())
    time_diff = abs(time - norm_date)
    min_days = min(time_diff)
    y = time_diff[time_diff==min_days]
    idx = 0
    for a,b in y.items():
        #print(a) -- prints the index
        #print(b) -- prints the value
        idx = a
        break
    return (index.transactions.iloc[idx]["psf"]/100)
    

	def datestr2unix(date):
		date_str = str(date)
		date_str = date_str.split(" ")[0]
		time_stamp = dt.datetime.strptime(str(date),"%Y-%m-%d").timetuple()
		return (time.mktime(time_stamp)*1000)

	def serialize_price_index(pi,start,end):
		index_list = []
		for k, v in pi.index.items():
			index_list.append([datestr2unix(k), v])
		return json.dumps(index_list)

	def volume_trend(transactions):
		def fun_year(x):
			return x.year
		def fun_month(x):
			return x.month
		def fun_day(x):
			return x.day
		def fun_list(row):
			return [row["date"],row["index"]]
		#pdb.set_trace()
		transactions["year"]=transactions["contract_date"].apply(fun_year)
		transactions["month"]=transactions["contract_date"].apply(fun_month)
		transactions["day"]=1
		transactions.rename(columns={transactions.columns[0]:'index'}, inplace=True)
		transactions_grp = transactions.groupby(["year","month","day"])["index"].count()
		trimmed_transactions = pd.DataFrame(transactions_grp)
		trimmed_transactions = trimmed_transactions.reset_index()
		trimmed_transactions["date"] = trimmed_transactions["year"].apply(str) + '-' + trimmed_transactions["month"].apply(str) + '-' + trimmed_transactions["day"].apply(str)
		trimmed_transactions["date"] = trimmed_transactions["date"].apply(datestr2unix)
		trimmed_transactions["value"] = trimmed_transactions.apply(fun_list,axis=1)
		temp = trimmed_transactions["value"]
		
		return json.dumps(temp.tolist())

In [20]:
t_type = ["rent"]#["sales"]#,"rent"]
p_type = ["hdb"]#,"hdb"]
t = GuruTable(table_name='dim_property')
district = sa.select([t.c.district_code,t.c.district_description]).where(sa.and_(t.c.district_code == 'D05')).execute().to_dataframe()
district_list = district["district_code"].unique()
bedrooms = [1,2,3,4,5,6]
#hdb_type = ["3 Room flat","4 Room flat","5 Room flat","1 Room flat","2 Room flat","Executive flat","HUDC flat","Multi-Generation flat"]
hdb_type = ["3 Room","4 Room","5 Room","1 Room","2 Room","Executive","HUDC","Multi-Generation"]
g = GuruTable(table_name='property_price_index')
g.truncate()

Table('property_price_index', MetaData(bind=Engine(mysql+mysqlconnector://datauser:***@data-team-db-sg.guruestate.com:3306/data)), Column('id', INTEGER(display_width=11), table=<property_price_index>, primary_key=True, nullable=False), Column('transaction_type', VARCHAR(length=5), table=<property_price_index>), Column('property_type', VARCHAR(length=10), table=<property_price_index>), Column('district_code', VARCHAR(charset='utf8', collation='utf8_unicode_ci', length=10), table=<property_price_index>, nullable=False), Column('bedrooms_type', TEXT(), table=<property_price_index>), Column('price_index', TEXT(charset='utf8', collation='utf8_unicode_ci'), table=<property_price_index>), Column('volume_trend', TEXT(charset='utf8', collation='utf8_unicode_ci'), table=<property_price_index>), Column('time_start', BIGINT(display_width=20), table=<property_price_index>), Column('time_end', BIGINT(display_width=20), table=<property_price_index>), Column('num_trans', INTEGER(display_width=11), table=<property_price_index>), Column('num_trans_pair', INTEGER(display_width=11), table=<property_price_index>), Column('modified_date', DATE(), table=<property_price_index>), Column('avg_psf', TEXT(), table=<property_price_index>), Column('district_description', TEXT(), table=<property_price_index>), Column('district', INTEGER(display_width=11), table=<property_price_index>), schema=None)

In [29]:
t = "rent"
p = "hdb"
start = dt.datetime.strptime('2005-01-01',"%Y-%m-%d").date()
for p in p_type:
    for d in ['D05']:#district_list:
        transactions = get_transactions(t_type=t,p_type=p,dist=d,start_date=start)
        #print(transactions.head(4))
        #print(len(transactions))
        flat_type_list = []
        pdb.set_trace()
        for typ in hdb_type:
            try:
                transactions_type = transactions[transactions["flat_type_name"]==typ]
                print(typ)
                print(len(transactions_type))
                if len(transactions_type)<25:
                    continue
                index = compute_ppi(transactions_type,p_type=p,t_type=t,start=start,normalization_date=normalization_date)
                insert_ppi(index=index,start=start,t_type=t,p_type=p,district=d,bedrooms_type=typ,norm_date=normalization_date)
                flat_type_list.append(t)
            except:
                print(sys.exc_info())

> <ipython-input-29-9070c30370ab>(11)<module>()
-> for typ in hdb_type:
(Pdb) typ
'Multi-Generation flat'
(Pdb) transactions.head(2)
   property_type  bedrooms  area_sqft  contract_year  contract_month  \
id
42           HDB         3        883           2011              12
56           HDB         6       1668           2011              12

   contract_date district_code postcode flat_type_name  monthly_rent  price  \
id
42    2011-12-01           D05   120377         3 Room          2000   2000
56    2011-12-01           D05   130022      Executive          3100   3100

         psf  area_log
id
42  2.265006  6.783325
56  1.858513  7.419381
(Pdb) transactions.flat_type_name[0]
*** KeyError: 0
(Pdb) transactions["flat_type_name"][0]
*** KeyError: 0
(Pdb) transactions.columns
Index(['property_type', 'bedrooms', 'area_sqft', 'contract_year', 'contract_month', 'contract_date', 'district_code', 'postcode', 'flat_type_name', 'monthly_rent', 'price', 'psf', 'area_log'], dtype='object')
(Pdb) transactions.flat_type_name
id
42        3 Room
56     Executive
76        5 Room
77        5 Room
132       3 Room
133       3 Room
134       3 Room
135       3 Room
136       3 Room
137       3 Room
206       4 Room
318       3 Room
319       3 Room
423       5 Room
452       3 Room
...
109359       3 Room
109360       3 Room
109361       3 Room
109362       3 Room
109363       4 Room
109364       3 Room
109365       3 Room
109366       4 Room
109367       5 Room
109368       3 Room
109978       5 Room
109984       3 Room
109985       5 Room
109987    Executive
109988       4 Room
Name: flat_type_name, Length: 4750, dtype: object
(Pdb) transactions.flat_type_name.iloc[0]
'3 Room'
(Pdb) transactions.flat_type_name.iloc[0]=="3 Room flat"
False
(Pdb) transactions.flat_type_name.iloc[0]=='3 Room flat'
False
(Pdb) s = "3 Room flat"
> <ipython-input-29-9070c30370ab>(12)<module>()
-> try:
(Pdb) s
> <ipython-input-29-9070c30370ab>(13)<module>()
-> transactions_type = transactions[transactions["flat_type_name"]==typ]
(Pdb) print(s)
*** NameError: name 's' is not defined
(Pdb) s="hi"
--Call--
> /home/vagrant/miniconda3/envs/pyguru/lib/python3.4/site-packages/pandas/core/frame.py(1757)__getitem__()
-> def __getitem__(self, key):
(Pdb) s
> /home/vagrant/miniconda3/envs/pyguru/lib/python3.4/site-packages/pandas/core/frame.py(1760)__getitem__()
-> is_mi_columns = isinstance(self.columns, MultiIndex)
(Pdb) print(s)
*** NameError: name 's' is not defined
(Pdb) exit()
(<class 'bdb.BdbQuit'>, BdbQuit(), <traceback object at 0x7fceb6be2e08>)
4 Room flat
0
5 Room flat
0
1 Room flat
0
2 Room flat
0
Executive flat
0
HUDC flat
0
Multi-Generation flat
0