In [1]:
import psycopg2
import pandas as pd
from matplotlib import pyplot as plt
from sqlalchemy import create_engine
%matplotlib inline

In [2]:
sql = ('SELECT id_dw_listing,'
       'EXTRACT(year FROM DATE) "year",'
       'EXTRACT(month FROM DATE) "month",'
       'EXTRACT(day FROM DATE) "day",'
       'SUM(unique_views) "Unique Views",'
       'SUM(views) "Views"'
       'FROM dw_reports.fact_views '
       'where EXTRACT(year FROM DATE) = 2015 and EXTRACT(month FROM DATE)=8 and substring(id_dw_listing from 1 for 2)=\'SG\' '
       'GROUP BY id_dw_listing,year,month,day '
       'ORDER BY year DESC,month DESC,day ASC'
       )

In [3]:
def create_conn(dbname):
    conn = 0
    if dbname=="data-insights":
        conn = psycopg2.connect(
            host="pg-redshift-cluster.cgnifbeifavu.ap-southeast-1.redshift.amazonaws.com", 
            user="rsreadonly", 
            port=5439, 
            password="Pguru123", 
            dbname="dev")
    elif dbname=="staging_sg":
        conn = create_engine('mysql://appuserro:5lK@oXpKaWQ&@pg-db2-staging.guruestate.com:3306/propertydb')
    elif dbname=="data-int":
        conn = create_engine('mysql://datauser:data123#@data-team-db-sg.guruestate.com:3306/data')
    return conn
    
def execute_sql(connection,stmt):
    cur = connection.cursor()
    cur.execute(stmt)
    result = cur.fetchall()
    cur.close()
    return result

def createDF(col_list,data):
    #data [(col_list),(col_list),...(col_list)]
    df = pd.DataFrame(data=data,columns=col_list)
    return(df)

In [6]:
conn = create_conn("data-insights")
result = execute_sql(conn,sql)
cols = ["listing_id","Year","Month","Day","Unq_Views","Views"]
listingViews_df = createDF(cols,result)
conn.close()

In [7]:
listingViews_df.describe()

          Year    Month             Day       Unq_Views           Views
count  2070186  2070186  2070186.000000  2070186.000000  2070186.000000
mean      2015        8       16.046633        2.351479        3.704197
std          0        0        8.902463        2.740306        4.753475
min       2015        8        1.000000        1.000000        1.000000
25%       2015        8        8.000000        1.000000        1.000000
50%       2015        8       16.000000        1.000000        2.000000
75%       2015        8       24.000000        3.000000        4.000000
max       2015        8       31.000000      122.000000      242.000000

In [8]:
conn = create_conn("data-int")

In [21]:
listingViews_df.to_sql?

In [12]:
listingViews_df.to_sql(name="listing_views",con=conn,flavor="mysql",chunksize=10000,if_exists='append',index=False)

In [14]:
sql_listing = ('SELECT distinct id,'
               'type_code,'
               'district_code,'
               'property_type_code,'
               'floorarea,'
               'psf,'
               'price,'
               'hdb_type,'
               'bedrooms '
               'FROM propertydb.v_listing '
               'where extract(year from start_date)=2015')

In [20]:
conn_stg = create_conn("staging_sg")

In [21]:
listing_details = pd.read_sql(sql_listing,conn_stg)

In [24]:
listing_details.describe()

,id,floorarea,psf,price,bedrooms
count,726186.000000,723834.000000,715221.000000,7.245350e+05,578383.000000
mean,18367645.821867,2508.399589,581.607311,9.825293e+05,2.502473
std,2021824.348551,29328.963736,1554.459440,3.924915e+06,1.529963
min,47540.000000,0.000000,0.000000,0.000000e+00,-1.000000
25%,18655393.250000,721.000000,3.000000,3.100000e+03,2.000000
50%,18892685.500000,1130.000000,7.000000,1.000000e+04,3.000000
75%,19111275.750000,1658.000000,975.000000,9.800000e+05,3.000000
max,19315152.000000,8141265.000000,761905.000000,9.990000e+08,10.000000

In [26]:
listing_details.to_sql(name="listing_details",con=conn,flavor="mysql",chunksize=10000,if_exists='append',index=False)

In [5]:
conn_data = create_conn("data-int")
listing_views = pd.read_sql("listing_views",conn_data)
listing_details = pd.read_sql("listing_details",conn_data)

In [12]:
listing_details.columns=['listing_id', 'type_code', 'district_code', 'property_type_code', 'floorarea', 'psf', 'price', 'hdb_type', 'bedrooms']

In [30]:
v_listing = pd.merge(listing_views,listing_details,on="listing_id",how="left")

In [31]:
v_listing.head()

,listing_id,Year,Month,Day,Unq_Views,Views,type_code,district_code,property_type_code,floorarea,psf,price,hdb_type,bedrooms
0,19061420,2015,8,1,16,29,SALE,D21,CONDO,1302,998,1300000,None,3
1,18711483,2015,8,1,3,6,SALE,D10,APT,1087,1408,1530000,None,3
2,18614031,2015,8,1,1,1,SALE,D13,TOWN,2250,933,2100000,None,5
3,18596893,2015,8,1,3,7,SALE,D25,CONDO,1012,810,820000,None,2
4,19123441,2015,8,1,4,6,RENT,D05,CONDO,1302,3,4000,None,3

In [ ]:
v_listing.to_sql("v_listing",conn_data,flavor="mysql",if_exists="replace",index=True,index_label="id",chunksize=100000)